.pipe {
  $pipe-img: url("../../assets/images/pipe-green.png");

  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--pipe-left) * 1px);
  width: calc(var(--pipe-width) * 1px);

  & > .segment {
    background-image: linear-gradient(
      90deg,
      rgba(133, 171, 67, 255),
      rgba(210, 237, 126, 255),
      rgba(119, 157, 55, 255),
      rgba(84, 129, 28, 255)
    );
    border: 2px solid rgb(84, 52, 68);
    border-bottom-color: transparent;
    position: absolute;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -5px;
      right: -5px;
      height: 30px;
      background-image: linear-gradient(
        90deg,
        rgba(193, 222, 114, 255),
        rgba(119, 157, 55, 255),
        rgba(84, 129, 28, 255)
      );
      border: 2px solid rgb(84, 52, 68);
    }
  }

  & > .top {
    transform: scaleY(-1);
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
  }

  & > .bottom {
    bottom: 0;
    top: calc(
      100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px - 10%)
    ); // 10% is base height
  }
}

.pipes {
  background-image: linear-gradient(
    90deg,
    rgba(133, 171, 67, 255),
    rgba(210, 237, 126, 255),
    rgba(119, 157, 55, 255),
    rgba(84, 129, 28, 255)
  );
  border: 2px solid rgb(84, 52, 68);
  border-top-color: transparent;
  border-bottom-color: transparent;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -5px;
    right: -5px;
    height: 30px;
    background-image: linear-gradient(
      90deg,
      rgba(193, 222, 114, 255),
      rgba(119, 157, 55, 255),
      rgba(84, 129, 28, 255)
    );
    border: 2px solid rgb(84, 52, 68);
  }
}
